<html>
<head>
    <title>About- {{restaurant_name}}</title>
</head>
<body>
    <div class="container">
        <h1>About {{restaurant_name}}</h1>
        <p>Welcome to {{restaurant_name}},where we server delicious and freshly prepared meal every day.
            our mission is to bring the taste of home to your table with quality ingredients and a friendly atmosphere
        </p>
        <br>
        <a href="{% url 'home' %}">Back to Home</a>
    </div>
    <footer class="footer">
        <P>&copy; {% now "Y" %} {{ restaurant_name }}. All rights reserved. </p>
    </footer>
</body>
</html>