<!DOCTYPE html>
<html>
    <head>
        <title>{{ restaurant_name }}</title>
    </head>
    <body style="
    margin: 0;
    padding: 0;
    font-family:'Segoe UI',Arial,sans-serif;
    background:linear-gradient(120deg,#f8f9fa,#e3f3f4);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    ">
        <h1 style="
        color: #333;
        background-color:#fff;
        padding:20px 40px;
        border-radius:8px;
        box-shadow:0px 4px 12px rgba(0,0,0,0.1);
        font-size:28px;
        text-align:center;
         ">Welcome To {{ restaurant_name }}</h1>
    </body>
</html>